apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: alb
  annotations:
     load-balance: random
spec:
  ingressClassName: haproxy
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
             name: apache
             port:
               number: 80
